@media screen and (max-width:768px){
    body{
        background-color: blueviolet;
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    body{
        background-color: green;
    }
}
@media screen and (min-width:993px) and (max-width:1200px){
    body{
        background-color: pink;
    }
}
@media screen and (min-width:1201px){
    body{
        background-color: lightskyblue;
    }
}